## Data Models

len(collections
dunder methods --- __getitems__

In [ ]:
book = "it have some specific things"
print(book.capitalize())
print(book.upper())
print(book.count('i'))
print(book.split())
print(book.title())
print(book.lower())
print(book.casefold())
print(book.find('things'))
tile = " cooler "
print(tile.rstrip())
print(tile.lstrip())
print(f"{book}\' \t {book}")

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
print(this.c)
#print(this.d)
print(this.i)
print(this.s)

In [ ]:
items = ['cooler','pen','pencil','book','drum','vessel']
items.append('wire')
items
items[3:]
items[-1:]

In [ ]:
items[-5:]

In [ ]:
i_pop = items.pop(2)
#items
print("popped item" + i_pop)

#### Rectify below code, list must come 1 by 1

In [5]:
guest_names = ("Shyam Radha Gopal")
print(type(guest_names))
list_name = guest_names.split()
list_name.append("Kabir")
list_name.insert(3, "Akesh")
#print(list_name.remove("Mano"))
print(list_name)

print(type(list_name))


for j in list_name:
    print(j)

<class 'str'>
['Shyam', 'Radha', 'Gopal', 'Akesh', 'Kabir']
<class 'list'>
Shyam
Radha
Gopal
Akesh
Kabir

In [ ]:
print(list_name.index("Gopal"))
print(len(list_name))
print(list_name[2])

list_name.reverse()
print(list_name)

list_name.sort()
print(list_name)

list_name.reverse()
print(list_name)

In [ ]:

print(list_name[::2])

In [ ]:
list_name.remove("Radha")
list_name

In [ ]:
list_name.clear()

list_name

In [ ]:
print(list(range(1,6,2)))

In [ ]:
boxes = []
for nums in range(7):
        box = nums**2
        boxes.append(box)
    
print(boxes)

In [ ]:
boxes = [num**2 for num in range(1,8)]
boxes

In [ ]:
num_list = (8,98,34,67465,2435,88924,34643948,987878)
mini = min(num_list)
mini
maxi = max(num_list)
maxi

In [ ]:
print(list(range(1,20,2)))

In [ ]:
three_mul = []
for val in range(3,30):
    val = val*3
    three_mul.append(val)
three_mul

In [ ]:
cube_num = [value**3 for value in range(1,11)]
cube_num

In [ ]:
for i in range(1,11):
    value = i**3
    print(f"{i}\'cube is {value}")
    
print("its the end")

In [ ]:
original_list = ["taste","occupancy","timber","land"]

copying_list = original_list[:]
original_list.append("blanket")
copying_list

In [ ]:
original_list[:3]

In [ ]:
original_list[1:4]

In [ ]:
original_list[-3:]

In [ ]:
for values in copying_list:
    print(f"{values}")

In [ ]:
for values in original_list:
    print(f"{values}")

In [5]:
buffet = ("dosa","idly","vada","poori","bonda")
for x in buffet:
    print(x)

dosa
idly
vada
poori
bonda

In [ ]:
buffet = ("upma","bajji","vada","poori","bonda")
buffet

In [ ]:
print(True + True)
print(True + False)
print(False + False + True * 2 + 3)
print(not False and True)

In [ ]:
items = ["towel",'fan',"chappal"]
"Fan" not in items

In [ ]:
only_admin = ["admin"]
names = ['admin',"ella","browny","king","stan"]
emp_list = []
for names in names:
    if names in only_admin:
        print(f"Hello {only_admin}, would you like to see reports")
    if names not in emp_list:
        print("We need to find users")
    else:
        print(f"Hello {names}")

In [ ]:
for x in range(1,10):
    if x == 1:
        print(f"{x}st")
    if x ==2:
        print(f"{x}nd")
    if x == 3:
        print(f"{x}rd")
    elif x > 3:
        print(f"{x}th")

#### Dict

In [ ]:
directions = {}

In [ ]:
directions["North"] = 90

In [ ]:
directions["South"] = 180
directions["West"] = 360
directions["East"] = 0

In [ ]:
print(directions)

In [ ]:
directions.keys()

In [ ]:
directions.items()

In [ ]:
directions.values()

In [ ]:
directions["North"] = 60
print(directions)

In [1]:
person = {'f_name' : "Sudhash",
          'l_name' : "Kailesh",
          'age' : 38,
          'city' : "Tokyo",
          'year' : 2020,
         }

person

{'f_name': 'Sudhash',
 'l_name': 'Kailesh',
 'age': 38,
 'city': 'Tokyo',
 'year': 2020}

In [8]:
if person['year'] == 2020:
    x_inc = 4
    
person['age'] = person['age'] + x_inc
person

{'f_name': 'Sudhash',
 'l_name': 'Kailesh',
 'age': 42,
 'city': 'Tokyo',
 'year': 2020}

In [2]:
for key ,value in person.items():
    print("\nKey :" + key)
    print("Value :" + str(value))

Key :f_name
Value :Sudhash

Key :l_name
Value :Kailesh

Key :age
Value :38

Key :city
Value :Tokyo

Key :year
Value :2020

In [1]:
fav_lang = {
    "shiv" : "R",
    "Bhirav" : "DSA",
    "Kailash" : "Ruby",
    "Subash" : "Python",
    "Radha" : "Julia",
    "shyam" : "R"
    }

In [2]:
for names, lang in fav_lang.items():
    print(names.upper(), "likes", lang.title())

SHIV likes R
BHIRAV likes Dsa
KAILASH likes Ruby
SUBASH likes Python
RADHA likes Julia
SHYAM likes R

In [8]:
naam = ['Kailash','Subash']
for names in fav_lang.keys():
    print(names.upper())
    if names in naam:
        print("Hi ",names.upper(), "you r here with", fav_lang[names].title())

SHIV
BHIRAV
KAILASH
Hi  KAILASH you r here with Ruby
SUBASH
Hi  SUBASH you r here with Python
RADHA
SHYAM

In [10]:
if "saty" in fav_lang.keys():
    print("Make a poll")
else:
    print("not exists")

not exists

In [28]:
for names in sorted(fav_lang.keys()):
    print(names.title())

Bhirav
Kailash
Radha
Subash
Shiv

In [11]:
for names in sorted(fav_lang.values()):
    print(names)

DSA
Julia
Python
R
R
Ruby

In [36]:
for names in set(fav_lang.values()):
    print(names)

Ruby
R
Julia
DSA
Python

In [8]:
site_0 = {"zomato": 'Red', 'pts' : 3}
site_1 = {'swiggy': "orange", 'pts' : 4}
site_2 = {'bb' : 'yellow', 'pts' : 4}

sites = [site_0,site_1,site_2]

for site in sites:
    print(site)

{'zomato': 'Red', 'pts': 3}
{'swiggy': 'orange', 'pts': 4}
{'bb': 'yellow', 'pts': 4}

In [7]:
? str

In [7]:
sites_orange = []
sites_red = []

#make 30 orange sites
for site_color in range(15):
    new_site_orange = {'swiggy' : "yellow", "pts" : 4, 'min' : 15}
    sites_orange.append(new_site_orange)

    
for site_color_orange in sites_orange[0:2]:
    if site_color_orange['swiggy'] == 'orange':
        site_color_orange['swiggy'] = 'yellow' 
        site_color_orange['pts'] = 5
        site_color_orange['min'] = 12
    elif site_color_orange['swiggy'] == 'yellow':
        site_color_orange['swiggy'] = 'green'
        site_color_orange['pts'] = 7
        site_color_orange['min'] = 10
    
    
for site_color_red in range(7):
    new_site_red = {'zomo' : 'red','pts':3, 'min' : 30}
    sites_red.append(new_site_red)

#show the 1st 5 sites
for site_color_orange in sites_orange[0:5]:
    print(site_color_orange)
print("********")

for site_color_red in sites_red[:2]:
    print(site_color_red)
print("************")

#show how many sites are added
print(str(len(sites_orange)))    
print(len(sites_red))

{'swiggy': 'green', 'pts': 7, 'min': 10}
{'swiggy': 'green', 'pts': 7, 'min': 10}
{'swiggy': 'yellow', 'pts': 4, 'min': 15}
{'swiggy': 'yellow', 'pts': 4, 'min': 15}
{'swiggy': 'yellow', 'pts': 4, 'min': 15}
********
{'zomo': 'red', 'pts': 3, 'min': 30}
{'zomo': 'red', 'pts': 3, 'min': 30}
************
15
7

In [9]:
maggie = {
    'cooked' : 'perfect',
    'topping' : ['tomato', 'onion','garlic'],
    }

print("cooking maggie is", maggie['cooked'], "also having topping:")
for tops in maggie['topping']:
    print(tops)

cooking maggie is perfect also having topping:
tomato
onion
garlic

In [15]:
fav_lang = {
    "shiv" : ["R",'python'],
    "Bhirav" : ["DSA", 'julia'],
    "Kailash" : ["Ruby", 'DSA'],
    "Subash" : ["Python"],
    "Radha" : ["Julia"],
    "shyam" : ["R"]
    }

for names, languages in fav_lang.items():
    print(names.title(), "with languages")
    for language in languages:
        print(language.upper())
        print(str(len(language)))

Shiv with languages
R
1
PYTHON
6
Bhirav with languages
DSA
3
JULIA
5
Kailash with languages
RUBY
4
DSA
3
Subash with languages
PYTHON
6
Radha with languages
JULIA
5
Shyam with languages
R
1

In [1]:
pwd

'D:\\Py_notebooks'

In [ ]:
? pwd

In [1]:
locations = {'india' : {
    'capital' : 'delhi',
    'state' : 'uttar pradesh',
    'pm' :'modi',
    },
             'uae':{
                 'capital' : 'qatar',
                 'state' : 'saudi',
                 'pm' : 'zayed',
             }
    }

In [ ]:
for info,info_loc in locations.items():
    print(info)
    states_cap = info_loc['state'] +" " + info_loc['capital']
    sta_pm = info_loc['pm']
    
    print("\t" + states_cap.title())
    print("\t" + sta_pm.title())

In [1]:
message = "please enter the book name : "
#print(message)

while True:
    name = input(message)
    
    if name == 'quit':
        break
    else:
        print("I enjoy this book",name)

please enter the book name : smart notes
I enjoy this book smart notes
please enter the book name : quit

In [4]:
num = 0 
while num < 20:
    num += 1
    if num % 2 == 1:
        continue
        
    print(num)

2
4
6
8
10
12
14
16
18
20

In [7]:
unconfirm_users = ["bob","hitler","stalin","jack"]
confirm_users = []

while unconfirm_users:
    verify_user = unconfirm_users.pop()
    confirm_users.append(verify_user.title())
    
for confirmed in sorted(confirm_users):
    print(confirmed)

Bob
Hitler
Jack
Stalin

In [14]:
def rounding_ex(n):
    if n - int(n) != 0.5:
        return int(n) + 1
    print(n)
    return (n)

ex_num = 1.5
round_num = rounding_ex(ex_num)
print(round_num)

1.5
2

In [12]:
def choose_pet(i,j):
    print(f"I have a pet {i} & name is {j}")
        
choose_pet('john','doll')
choose_pet('doggy','dog')

I have a pet john & name is doll
I have a pet doggy & name is dog

In [17]:
names = ['lucky','jose','don']
pet_names = ['harry','john','dolly']
pets = ['cat','dog','rabbit']
for i in names:
    print("Hi ",i)
    for (j,k) in zip(pet_names,pets):
        choose_pet(j,k)
    #for k in pets:

Hi  lucky
I have a pet harry & name is cat
I have a pet john & name is dog
I have a pet dolly & name is rabbit
Hi  jose
I have a pet harry & name is cat
I have a pet john & name is dog
I have a pet dolly & name is rabbit
Hi  don
I have a pet harry & name is cat
I have a pet john & name is dog
I have a pet dolly & name is rabbit

In [6]:
import math

In [7]:
math.log2(256)
math.log2(100)

6.643856189774724

In [5]:
128 * 2

256

In [17]:
def binary_search(arr, item):
    low = 0
    high = len(arr) - 1
    
    while low <= high:
        mid = (low + high) // 2
        guess = arr[mid]
        if guess < item:
            low = mid + 1
        elif guess > item:
            high = mid - 1
        else:
            return mid
    return -1
            
    
sample_list = [0,3,4,5,7,8,12,14,15,17,18,23,25]
guess_item = int(input())
result = binary_search(sample_list,guess_item)

#print(binary_search(sample_list,-1))
#print(binary_search(sample_list,15))

if result != -1:
    print("the array place is",str(result))
else:
    print("it is not present in the array")

9
it is not present in the array

In [18]:
year = (1990,1984,2000,2002)
for y in year:
    if y % 4 != 0:
        print(f"{y} is False",False)
    elif y % 100 != 0:
        print(f"{y} is True",True)
    elif y % 400 != 0:
        print(f"{y} is False",False)
    else:
        print(f"{y} is True",True)

1990 is False False
1984 is True True
2000 is True True
2002 is False False

In [22]:
print(2002 % 400)
print(True)

2
<class 'bool'>

In [37]:
x = (1,2,3,4,5)
sum = 0 
for y in x:
    if y > 0:
        y = y - 1
        sum =sum + y
        print(sum)
print(sum)
    #print(x)

0
1
3
6
10
10

In [41]:
for n in range(10):
    res = n * n
    print(res)
    n += 2
    #print(n)
print(n)

0
1
4
9
16
25
36
49
64
81
11

In [50]:
maxNum = -1
ran = (2,5,7,8,12,15,17)
for n in ran:
    if n > maxNum:
        #print(n)
        maxNum = n
        print("maxNum is ",maxNum)
        
print("min is ",min(ran))
print("max is ",max(ran))

maxNum is  2
maxNum is  5
maxNum is  7
maxNum is  8
maxNum is  12
maxNum is  15
maxNum is  17
min is  2
max is  17

In [59]:
def cal_fact(n): 
    
    for i in range(1,n+1):
        fact = 1
        fact = fact * i
               
    return fact

cal_fact(6)

6

In [60]:
def factorial(n):
    if n == 1:
        return n
    else:
        return n * fac(n-1)

factorial(8)

40320

In [4]:
def fibo(n):
    if n <= 1:
        return n
    else:
        return (fibo(n-1) + fibo(n-2))
n = int(input())
if n <= 0 :
    print("normal integers")
else:
    print("fibo series")
    for i in range(n):
        print(fibo(i))

        
fibo(3)

5
fibo series
0
1
1
2
3

2